# Exclude node_modules, dist, and git files
node_modules
dist
.git
.gitignore
.env
*.log
.idea
.vscode
coverage

# Exclude editor and build system files you don't need in build
*.spec.*
*.tsbuildinfo
jest.config.*
eslint.config.*
.prettier*

# Keep source and config files needed for build
!nx.json
!tsconfig.base.json
!src/
!public/
!project.json
